<h1>Welcome to Super Rentals</h1>

We hope you find exactly what you're looking for in a place to stay.
{{filter-listing}}
{{#each model as |rental-unit|}}
  {{rental-listing rental=rental-unit}}
{{/each}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}